<div class="row no-margin">
    <h4>Filtros: </h4>
</div>
<div class="row no-margin">
    <div class="col-md-12">
        <p><%= text_field_tag "search", nil, placeholder: "Procurar sensor" %></p>
    </div>
</div>
<hr>
<div class="row no-margin">
    <h5>Região</h5>
</div>
<div class="row no-margin">
    <div class="col-md-10">
        Todas as regiões
    </div>
    <div class="col-md-1">
        <%= fa_icon "angle-right" %>
    </div>
</div>
<hr>