<nav class="navbar navbar-darkblue bg-primary fill-width white no-margin no-padding-bottom">
    <div class="row no-margin topbar">
        <div class="col-md-2 logo">
              <h4>  <%= image_tag("pine-tree", size: "35x35") %> GreenWall</h4>
        </div>
        <div class="col-md-10 row ">
                <div class="col-md-1 topbar_text"><h5>Overview</h5></div>
                <div class="col-md-1 topbar_text"><h5>Analytics</h5></div>
                <div class="col-md-1 topbar_text"><h5>Dados</h5></div>
                <div class="col-md-9"></div>
        </div>
    </div>
</nav>