<div class="row no-margin topbar">
    <div class="col-md-2"><%= image_tag("pine-tree", size: "40x40") %> GreenWall</div>
    <div class="col-md-1">Overview</div>
    <div class="col-md-1">Analytics</div>
    <div class="col-md-1">Dados</div>
    <div class="col-md-2"></div>
</div>