<div class="container">
  <div class="row h-100 col-12">
    <div class="col-3 battery">
      <div class="battery-animation">
          <div class="liquid"></div>
        </div>
    </div>
    <div class="col-9 remainingTime">
      Tempo estimado para carga completa: 30 min
    </div>
  </div>
  <hr>
</div>
<!--<span class="fas fa-4x fa-battery-full"></span>-->
<!--<span class="fas fa-4x fa-battery-three-quarters"></span>-->
<!--<span class="fas fa-4x fa-battery-half "></span>-->
<!--<span class="fas fa-4x fa-battery-quarter "></span>-->
<!--<span class="fas fa-4x fa-battery-empty "></span>-->