<div class="container">
  
  <div class="row h-100 col-12 applyBorder batteryInfo">
    <div class="col-6 battery">
      <span class="fas fa-4x fa-battery-three-quarters"></span>  
    </div>
    <div class="col-6 remainingTime">
      Tempo estimado para carga completa: 30 min
    </div>
  </div>
  <div class="row col-12 col-lg">
    <div class="col-5 applyBorder chart">
      <h5>Informações de Uso</h5>
      <span class="fas fa-4x fa-chart-line"></span>
    </div>
    <div class="col-7">
      <div class="row-12 h-50 applyBorder chargingTime">
        Tempo carregando: 3h
      </div>
      <div class="row-12 h-50">
        Ratio: <%= @transporte.ratio %>
      </div>
    </div>
   
  </div>
</div>
<!--<span class="fas fa-4x fa-battery-full"></span>-->
<!--<span class="fas fa-4x fa-battery-three-quarters"></span>-->
<!--<span class="fas fa-4x fa-battery-half "></span>-->
<!--<span class="fas fa-4x fa-battery-quarter "></span>-->
<!--<span class="fas fa-4x fa-battery-empty "></span>-->