<div class="container">
  <div class="row col-12 ">
    <span class="fas fa-4x fa-battery-half "></span>
    row grande
  </div>
  <hr>
  <div class="row">
    <div class="col-5">
      col de 5
    </div>
    <hr>
    <div class="col-7">
      <div class="row-12">
        primeira row
      </div>
      <div class="row-12">
        segunda row
      </div>
    </div>
   
  </div>
</div>
<!--<span class="fas fa-4x fa-battery-full"></span>-->
<!--<span class="fas fa-4x fa-battery-three-quarters"></span>-->

<!--<span class="fas fa-4x fa-battery-quarter "></span>-->
<!--<span class="fas fa-4x fa-battery-empty "></span>-->