<style>
  .charge{
    margin-top: 20px;
    align-text: center;
    float: left;
  }
</style>

<div class="container">
  <div style="margin-left:10px" data-target="#graphicModal" data-toggle="modal"  class="row h-100 col-12 applyBorder batteryInfo">
    <div class="col-6 battery">
      <span class="fas fa-4x fa-battery-three-quarters"></span>  
      TELA DE GRAFICOS
    </div>
    <div class="col-6 remainingTime charge">
      <b><%= @transporte.bateria %>%</b> de bateria
    </div>
  </div>
 
  <div class="row col-12 col-lg">
    <div class="col-6 chart">
      <h5>Informações de Uso:</h5>
      <div style="margin-left:50px"><div class="fas fa-4x fa-chart-line"></div></div>
    </div>
    <div class="col-6">
      <div class="row-12 h-50 chargingTime">
        Tempo de uso: <%= @transporte.used_time %> Segs
      </div>
      <div class="row-12 h-50">
        Ratio: <%= @transporte.ratio %>
      </div>
    </div>
   
  </div>
</div>
<!--<span class="fas fa-4x fa-battery-full"></span>-->
<!--<span class="fas fa-4x fa-battery-three-quarters"></span>-->
<!--<span class="fas fa-4x fa-battery-half "></span>-->
<!--<span class="fas fa-4x fa-battery-quarter "></span>-->
<!--<span class="fas fa-4x fa-battery-empty "></span>-->