// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.sensor_map{
    height: 90vh;
}

.topbar_text{
    padding-top: 1.1vh;
    text-align: center;
}

.no-padding-bottom{
    padding-bottom: 0px !important;
}

.padding-top-small{
    padding-top: 10px !important;
}

.sides-background{
    background-color: #068587;
}

.navbar-darkblue{
    background-color: #112F41 !important;
}

.fill-width{
    width: 100%;
}

.white{
    color: white;
}

.logo{
    padding-top: 10px;
    text-align: center;
}

.topbar{
    height: 5vh;
    width: 100%;
}

.sensor_details{
    height: 27vh;
}

.graph{
    height: 20vh;
}

.paragraph{
    padding: 5px;
}

.no-margin{
    margin: 0px !important;
}

.no-padding{
    padding: 0px !important;
}

.applyBorder{
    border:2px solid black;
}

.battery{
    text-align:center;

}

.chart{
    text-align:center;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.chargingTime{
    border-left: none;
    border-right: none;
    border-top: none;
}

.batteryInfo{
    border-left: none;
    border-right: none;
    border-top: none;
}



// Settings

$speed: 2.25s;
$size: 7rem;




// Container Settings
$batteryHeight: $size;
$batteryRadius: $size * 0.02;
$batteryColor: #425C77;
$batteryBackground: white;
$batteryHighlight: rgba($batteryBackground, 0.325);


// Liquid Settings
$liquidSize: $size / 2;
$liquidOffset: $liquidSize / -2.25;
$liquidColor: #71FB85;


// Loading Keyframes
@keyframes load {
  0% { top: $size; }
  100% { top: $size * 0.87; }
}


// Styles for battery, terminal, and highlight
.battery-animation {
  display: inline-block;
  position: relative;
  width: $size / 2;
  height: $size;
  box-shadow: 0 0 0 0.2rem $batteryColor;
  background: $batteryBackground;
  border-radius: $batteryRadius;
  
  // Terminal
  &:before {
    content: '';
    position: absolute;
    left: $size / 8;
    right: $size / 8;
    top: $size * -0.075;
    height: $size * 0.075;
    width: $size / 4;
    background: $batteryColor;
    border-radius: $batteryRadius * 2;
  }
  
  // Highlight
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Styles for liquid
.liquid {
  position: absolute;
  bottom: 0;
  width: $size / 2;
  background: $liquidColor;
  animation: load $speed;
  animation-fill-mode: forwards;
 
}

@keyframes power {
  0% { color: #bcbcbc; }
  75% { color: #bcbcbc; text-shadow: none; }
  90% { color: darken($liquidColor, 5%); text-shadow: 0 0 0.8em $liquidColor; }
  100% { color: #bcbcbc; text-shadow: none; }
}
